*.iml
.gradle
/local.properties
/app/release/
/app/debug/
#/.idea/caches
#/.idea/libraries
#/.idea/modules.xml
#/.idea/workspace.xml
#/.idea/navEditor.xml
#/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/keystore.properties
/crowdin.properties
/crowdin.cli.yml
#/core/src/main/proto/
