<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.xzos.upgradeall.core.downloader">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>