<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.xzos.upgradeall">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="net.xzos.upgradeAll.permission.ACCESS_RECEIVER_STATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <service
            android:name=".server.ApkInstallerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".server.update.UpdateService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="moe.shizuku.api.ShizukuBinderReceiveProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".server.update.UpdateServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="net.xzos.upgradeAll.permission.ACCESS_RECEIVER_STATE">
            <intent-filter>
                <action android:name="net.xzos.upgradeAll.UPDATE_SERVICE_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".server.downloader.DownloadBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="net.xzos.upgradeAll.permission.ACCESS_RECEIVER_STATE">
            <intent-filter>
                <action android:name="net.xzos.upgradeAll.DOWNLOAD_BROADCAST" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.home.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.others.OthersActivity"
            android:label="@string/home_module_others">
        </activity>
        <activity
            android:name=".ui.rss.RssActivity"
            android:label="@string/home_module_rss">
        </activity>
        <activity
            android:name="net.xzos.upgradeall.ui.apphub.magisk.MagiskModuleActivity"
            android:label="@string/home_module_magisk_module">
        </activity>
        <activity
            android:name="net.xzos.upgradeall.ui.apphub.apps.AppsActivity"
            android:label="@string/home_module_apps">
        </activity>
        <activity
            android:name="net.xzos.upgradeall.ui.apphub.filemanagement.FileManagementActivity"
            android:label="@string/home_module_file_management">
        </activity>
        <activity
            android:name="net.xzos.upgradeall.ui.apphub.discover.DiscoverActivity"
            android:label="@string/home_module_discovery">
        </activity>
        <activity
            android:name="net.xzos.upgradeall.ui.detail.AppDetailActivity" />
        <activity
            android:name="net.xzos.upgradeall.ui.detail.setting.AppSettingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="net.xzos.upgradeall.ui.detail.setting.ApplicationsSettingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.LogActivity"
            android:label="@string/home_log" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/home_settings" />
        <activity android:name=".ui.activity.file_pref.UCropActivity" />
        <activity android:name=".ui.activity.file_pref.SelectFileActivity" />
        <activity android:name=".ui.activity.file_pref.SelectDirActivity" />
        <activity android:name=".ui.activity.file_pref.SaveFileActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${enableCrashReporting}" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
    </application>

</manifest>
