<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.xzos.upgradeall">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="net.xzos.upgradeAll.permission.ACCESS_RECEIVER_STATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".server.update.UpdateServiceReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="net.xzos.upgradeAll.permission.ACCESS_RECEIVER_STATE">
            <intent-filter>
                <action android:name="net.xzos.upgradeAll.UPDATE_SERVICE_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".utils.network.DownloadBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="net.xzos.upgradeAll.permission.ACCESS_RECEIVER_STATE">
            <intent-filter>
                <action android:name="net.xzos.upgradeAll.DOWNLOAD_BROADCAST" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LogActivity"
            android:label="@string/title_activity_log" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/setting" />
        <activity android:name=".ui.activity.UCropActivity" />
        <activity android:name=".ui.activity.SaveFileActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${enableCrashReporting}" />
    </application>

</manifest>
