name: Android CI

on:
  push:
    branches: 
      - master
    paths-ignore:
      - 'source/**'
      - '**.md'
      - '.**'
      - 'fastlane/**'
  pull_request:
      paths-ignore:
      - 'source/**'
      - '**.md'
      - '.**'
      - 'fastlane/**'
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      NDK_VERSION: 26.2.11394342

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
          fetch-depth: 0

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Retrieve version
        run: |
          echo VERSION=$(git rev-parse --short HEAD) >> $GITHUB_ENV

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Cache NDK
        id: ndk-cache
        uses: actions/cache@v2
        with:
          path: /usr/local/lib/android/sdk/ndk/${{ env.NDK_VERSION }}
          key: ndk-${{ env.NDK_VERSION }}

      - name: Install NDK
        if: steps.ndk-cache.outputs.cache-hit != 'true'
        run: echo "y" | sdkmanager --install "ndk;${{ env.NDK_VERSION }}"

      - name: Install Cargo with aarch64-linux-android
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-linux-android

      - name: Rust add x86_64-linux-android
        run: rustup target add x86_64-linux-android

      - name: Build with Gradle
        run: ./gradlew -PappVerName=${{ env.VERSION }} assembleRelease assembleDebug
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}

      - name: Sign Android release
        if: ${{ !github.event.pull_request }}
        id: sign
        uses: r0adkll/sign-android-release@v1.0.4
        env:
          BUILD_TOOLS_VERSION: "32.0.0"
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Upload debug apk
        uses: actions/upload-artifact@v3
        if: ${{ !github.event.pull_request }}
        with:
          path: './app/build/outputs/apk/debug/*.apk'
          name: build_debug_${{ env.VERSION }}

      - name: Upload release apk
        uses: actions/upload-artifact@v3
        if: ${{ !github.event.pull_request }}
        with:
          path: ${{ steps.sign.outputs.signedReleaseFile }}
          name: build_release_${{ env.VERSION }}

      - name: Get apk info
        if: ${{ !github.event.pull_request }}
        id: apk-info
        uses: hkusu/apk-info-action@v1
        with:
          apk-path: ${{ steps.sign.outputs.signedReleaseFile }}

      - run: find app/build -type f

#      - name: Upload mappings with App Center CLI
#        if: ${{ !github.event.pull_request }}
#        uses: zhaobozhen/AppCenter-Github-Action@1.0.1
#        with:
#          command: appcenter crashes upload-mappings --mapping app/build/outputs/mapping/release/mapping.txt --version-name ${{ steps.apk-info.outputs.version-name }} --version-code ${{ steps.apk-info.outputs.version-code }} --app DUpdateSystem/UpgradeAll
#          token: ${{secrets.APP_CENTER_TOKEN}}

      - name: Send commit to Telegram
        if: ${{ !github.event.pull_request }}
        env:
          CHANNEL_ID: ${{ secrets.TELEGRAM_TO }}
          BOT_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          RELEASE: ${{ github.workspace }}/${{ steps.sign.outputs.signedReleaseFile }}
          COMMIT_MESSAGE: |+
            New push to Github\!
            ```
            ${{ github.event.head_commit.message }}
            ```by `${{ github.event.head_commit.author.name }}`
            See commit detail [Here](${{ github.event.head_commit.url }})
            Snapshot apk is attached
        run: |
          if [ ! -z "${{ secrets.BOT_TOKEN }}" ]; then
          OUTPUT="app/build/outputs/apk/debug/"
          export Debug=$(find $OUTPUT -name "*.apk")
          ESCAPED=`python3 -c 'import json,os,urllib.parse; msg = json.dumps(os.environ["COMMIT_MESSAGE"]); print(urllib.parse.quote(msg if len(msg) <= 1024 else json.dumps(os.environ["COMMIT_URL"])))'`
          curl -v "https://api.telegram.org/bot${BOT_TOKEN}/sendMediaGroup?chat_id=${CHANNEL_ID}&media=%5B%7B%22type%22%3A%22document%22%2C%20%22media%22%3A%22attach%3A%2F%2FRelease%22%7D%2C%7B%22type%22%3A%22document%22%2C%20%22media%22%3A%22attach%3A%2F%2FDebug%22%2C%22parse_mode%22:%22MarkdownV2%22%2C%22caption%22:${ESCAPED}%7D%5D" -F Release="@$RELEASE" -F Debug="@$Debug"
          fi
