name: Android CI

on:
  push:
    branches: 
      - master
    paths-ignore:
      - 'source/**'
      - '**.md'
      - '.github/**'
      - 'fastlane/**'
  pull_request:
      paths-ignore:
      - 'source/**'
      - '**.md'
      - '.github/**'
      - 'fastlane/**'
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: ${{ !startsWith(github.event.head_commit.message, '[skip ci]') }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
          
      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-app-${{ github.sha }}
          restore-keys: |
            gradle-
            
      - name: Retrieve version
        run: |
          echo VERSION=$(echo ${{ github.event.head_commit.id }} | head -c 10) >> $GITHUB_ENV
          
      - name: Build with Gradle
        run: bash ./gradlew -PappVerName=${{ env.VERSION }} assembleRelease assembleDebug
        
      - name: Sign Android release
        if: ${{ !github.event.pull_request }}
        id: sign
        uses: r0adkll/sign-android-release@v1.0.4
        env:
          BUILD_TOOLS_VERSION: "32.0.0"
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
          
      - name: Upload debug apk
        uses: actions/upload-artifact@v3
        if: ${{ !github.event.pull_request }}
        with:
          path: './app/build/outputs/apk/debug/*'
          name: build_debug_${{ github.event.head_commit.id }}
          
      - name: Upload release apk
        uses: actions/upload-artifact@v3
        if: ${{ !github.event.pull_request }}
        with:
          path: ${{ steps.sign.outputs.signedReleaseFile }}
          name: build_release_${{ github.event.head_commit.id }}
          
      - name: Get apk info
        if: ${{ !github.event.pull_request }}
        id: apk-info
        uses: hkusu/apk-info-action@v1
        with:
          apk-path: ${{ steps.sign.outputs.signedReleaseFile }}
          
      - name: Upload mappings with App Center CLI
        if: ${{ !github.event.pull_request }}
        uses: avocaddo/AppCenter-Github-Action@v1.0.2
        with:
          command: appcenter crashes upload-mappings --mapping app/build/outputs/mapping/release/mapping.txt --version-name ${{ steps.apk-info.outputs.version-name }} --version-code ${{ steps.apk-info.outputs.version-code }} --app DUpdateSystem/UpgradeAll
          token: ${{secrets.APP_CENTER_TOKEN}}
          
      - name: Send commit to Telegram
        if: ${{ !github.event.pull_request }}
        env:
          CHANNEL_ID: ${{ secrets.TELEGRAM_TO }}
          BOT_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          FILE: ${{ github.workspace }}/${{ steps.sign.outputs.signedReleaseFile }}
          COMMIT_MESSAGE: |+
            New push to Github\!
            ```
            ${{ github.event.head_commit.message }}
            ```by `${{ github.event.head_commit.author.name }}`
            See commit detail [Here](${{ github.event.head_commit.url }})
            Snapshot apk is attached
        run: |
          ESCAPED=`python3 -c 'import json,os,urllib.parse; print(urllib.parse.quote(json.dumps(os.environ["COMMIT_MESSAGE"])))'`
          curl -v "https://api.telegram.org/bot${BOT_TOKEN}/sendMediaGroup?chat_id=${CHANNEL_ID}&media=%5B%7B%22type%22:%22document%22,%20%22media%22:%22attach://release%22,%22parse_mode%22:%22MarkdownV2%22,%22caption%22:${ESCAPED}%7D%5D"  -F release="@$FILE"
